# Dependências (A pasta mais pesada que NUNCA deve subir)
node_modules/

# Arquivos de produção/compilação local (gerados pelo npm run build)
dist/
build/

# Arquivos de configuração local do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log de erros do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos com chaves secretas e variáveis de ambiente (Segurança)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local